
/*background of the app*/
.settings-container {
  width: 360px;
  height: 800px;
  margin: 0 auto;
  padding: 0 25px 24px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(218, 218, 218, 1) 33%,
    rgba(198, 198, 198, 1) 66%,
    rgba(166, 166, 166, 1) 100%
  );
}

/*back button at top left*/
.settings-back {
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding-top: 22px;
}

/*buttons are at button*/
.settings-bottom {
  margin-top: auto;
}

/*title*/
.settings-title {
  font-family: 'Azeret Mono', monospace;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 5px;
  color: black;
}

/*menu*/
.settings-menu {
  display: flex;
  flex-direction: column;
  gap: 24.5px;
}

/*buttons to other pages*/
.settings-item {
  width: 310px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #000;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  font-family: var(--font-commissioner);
  text-decoration: none;
  box-sizing: border-box;
}

/*clearly interactable buttons*/
.settings-item:hover {
  opacity: 0.9;
}

/*default size of chevron icon*/
.settings-chevron {
  font-size: 18px;
}